
Button:hover{ 
    background-color:rgb(251,59,100);
    color:white;
    }
  

    /* // width: 61%;
    // height: auto;
    // margin-left: 15%;
    // margin-bottom: 0px;
    // position: absolute;
    // right: 0;
    // left: 0;
    // margin: auto

    // width: 50%;
    // height: auto;
    // margin-left: 45%;
    // margin-top: -10px;
    // margin-bottom: 20px;
    // position: absolute;
    // right: 50px;
    // top: 68px; */